<div class="py-5 text-center">
  <h2>Lista dos pokemons </h2>
</div>

<table data-toggle="table" data-search="true" data-show-export="true" data-pagination="true" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-show-columns-toggle-all="true" data-pagination="true" data-url="https://localhost:44333/api/pokemon">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="name">Pokemon</th>
      <th data-field="hp">HP</th>
      <th data-field="attack">Attack</th>
      <th data-field="defense">Defense</th>
      <th data-field="height">Height</th>
      <th data-field="types">types</th>
    </tr>
  </thead>
</table>
