<div class="py-5 text-center">
  <h2>Lista dos pokemons</h2>
</div>
<table data-toggle="table" data-pagination="true" data-pagination-v-align="both" data-search="true" data-show-export="true" data-pagination="true" data-show-toggle="true" data-show-columns="true">
  <thead>
    <tr>
      <th>ID</th>
      <th>Pokemon</th>
      <th>HP</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemons">
      <td>{{pokemon.id}}</td>
      <td>{{pokemon.name}}</td>
      <td>{{pokemon.hp}}</td>
    </tr>
  </tbody>
</table>
